.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid rgb(71, 9, 216);
  padding: 6px 12px;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: bold;
  cursor: crosshair;
  font-size: 1em;
}
button:hover {
  background: rgb(206, 6, 6);
  color: whitesmoke;
}
.card-grid {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}