@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Shizuru&family=Space+Mono:ital@1&display=swap');



body {
  margin: 0;
  font-family:Space 'Mono', monospace;
  font-size: 1.5em;
  text-align: center;
  background: rgb(127, 179, 194);
  color: greenyellow;
  
}


